################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/IdentityServer/obj
/IdentityServer
/IS/.vs/IS
/IS/IS/obj
